@font-face {
  font-family: "Geist-SemiBold";
  src: url("attachments/geist-font-1.5.0/fonts/Geist/otf/Geist-SemiBold.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Geist-SemiBold", sans-serif;
  background-color: #111;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 3px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 3px);
  background-size: 2.5rem 2.5rem;
  color: white;
}

h1 {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  size-adjust: normal;
}

h1:hover {
  color: yellow;
  transition: color 1s ease;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(49, 111, 170);
}

p,
ul {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

header {
  text-align: center;
  padding: 1.25rem;
}

nav {
  size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  font-size: 1.25rem;
}

a {
  size: 2rem;
  color: blue;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: red;
  transition: color 1s ease;
}

nav button {
  background-color: #111;
  margin: 0.25rem;
  padding: 1rem;
}

.navigation {
  display: flex;
  padding: 1rem;
  gap: 1.25rem;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme :hover {
  color: red;
  transition: color 1s ease;
}

footer {
  font-size: 1rem;
  margin: 2rem;
  text-align: center;
}

.footer-content {
  color: #8b8b8b8b;
  display: flex;
  flex-direction: column;
  margin: 2rem 0px 0px 0px;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  color: blue;
  padding: 0.625rem 1.25rem;
  border-radius: 1.5625rem;
  border: none;
  cursor: pointer;
}

.links {
  margin-top: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  height: 100%;
  margin: 2.5rem auto 0;
  width: 100%;
  max-width: 45rem;
}

.grid-container .image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  min-height: 20rem;
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.introduction,
.skills,
.blog,
.message,
.socials,
.location,
.project-1,
.project-2 {
  background-color: #1a1a1a;
  padding: 1.25rem;
  border: 0.125rem solid white;
  border-radius: 0.625rem;
  min-height: 20rem;
  min-width: 15rem;
  overflow: auto;
}

.image img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 1rem;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 16px;
    border-bottom: 1px solid #fff;
  }

  .image,
  .introduction,
  .skills,
  .working,
  .testimonial,
  .blog {
    border: none;
    max-width: 100%;
    min-height: auto;
    background-color: transparent;
    text-align: center;
  }

  nav {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .theme {
    margin-top: 0.5rem;
  }
}
